* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: sans-serif;
}

:host {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-primary);
  padding: 15px 25px;
  max-width: 350px;
  border-radius: 3px;
  gap: 9px;
}

:host(.error) {
  border: 1px solid var(--color-error, red);
}

form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

form input {
  font-size: 1rem;
  color: black;
  border: 1px solid var(--color-primary);
  padding: 3px 3px;
  width: 100%;
  border-radius: 5px;
  text-align: left;
}

form button {
  padding: 6px 12px;
  background-color: var(--color-primary);
  border-radius: 5px;
  max-width: 40%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

form button span {
  font-family: sans-serif;
  color: var(--color-white);
  font-size: 0.95rem;
  line-height: 1.5rem;
}

button:disabled {
  background-color: var(--color-disabled);
  color: white;
  cursor: not-allowed;
}

form button:hover {
  opacity: 0.7;
}
